
.has-error, .error {
    color: #e66464;
    font-size: 11px;
    font-family: verdana;

}

.mm-active {

}

.form-row {
    line-height: 7px !important;
}

.app-header {
    height: 50px;
}

.app-theme-white.fixed-header .app-header__logo {
    background: none;
    padding: 0 15px;
    width: 230px;
}
.app-sidebar .app-sidebar__inner {
    padding: 1px 1rem .5rem
}

.fixed-sidebar .app-main .app-main__outer {
    padding-left: 235px;
}

.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 85px;
}

.app-page-title {
    padding: 10px;
    margin: -25px 0px 20px;
}

.app-page-title .page-title-icon {
    font-size: 1.8rem;
    padding: .1rem;
    margin: 0 15px 0 0;
    width: 45px;
    height: 45px;
}

@media only screen and (max-width: 600px) {
    .app-header .app-header__content.header-mobile-open {
        visibility: visible;
        opacity: 1;
        top: 55px;
    }

    .dropdown-menu {
        position: fixed !important;
        z-index: 50;
        left: 5% !important;
        top: 37% !important;
        width: 90% !important;
        transform: translateY(-50%) !important;
        min-width: 10px !important;
        border-radius: 20px;
    }

    .app-page-title {
        padding: 10px;
        margin: -15px 0px 15px 0px;
    }
}





/* uploaded image */

#photo {
    opacity: 1;
    height: 38px;
    margin-left: 0;
}

#image-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(61, 61, 61, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: "Uploaded image result";
    color: rgba(61, 61, 61, 0.7);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
    white-space: nowrap;
}

.image-area img {
    z-index: 2;
    position: relative;
}


.site__brand__logo img{
    width: 150px;
}

.zoom-on-hover {
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.zoom-on-hover:hover {
    transform: scale(1.05);
    /* Zoom in slightly on hover */
}

/* Custom gradient class */
.gradient-bg {
    background: linear-gradient(45deg, #46aef7, #006cba);
    animation: changeColor 5s linear infinite;
}

.main-card {
    border: 1px solid #e4e6ef;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-success {
    background-color: #28a745;
    color: #fff;
}