.form-group-user {
    position: relative;
    /* background-color: rgb(71, 71, 71); */
    width: 90%;
}

.form-group-user .col-group {
    position: relative;
}

.form-account label.radio-field {
    /* position: static; */
    display: block;
}

.form-group-user .label-field {
    font-size: 15px;
    line-height: 20px;
    color: #8d8d8d;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.form-account label.radio-field input:checked ~ span {
    background-color: #23d3d3;
    color: #fff;
}

.form-account label.radio-field input:checked ~ span:hover {
    background-color: #00b4b4;
}

.form-account label.radio-field span {
    height: 48px;
    line-height: 48px;
    display: block;
    border-radius: 4px;
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
}

.form-account label.radio-field i {
    margin-right: 5px;
}

.form-account label.radio-field input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

/* hide arrow in number field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    /* -moz-appearance: textfield; */
}

/* hero section banner */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-banner {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.overlay_2 {
    inset: 0;
}

/* logged in menu */

.avatar img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    object-fit: cover;
}

.login-container {
    text-align: center;
    /* Center the content horizontally */
}

.login-message {
    display: block;
    margin-bottom: 10px;
    /* Add some space below the message */
    font-weight: bold;
    /* Make the message bold, adjust as needed */
}

.test {
    display: inline-block;
    padding: 10px 20px;
    background-color: #23d3d3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.test:hover {
    background-color: #0056b3;
    color: white;
}

/* .pagination nav div div {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    visibility: hidden;
} */
/* .pagination nav .flex {
    visibility: hidden;
    margin-bottom: 10px;
    text-align: center;
} */
/* .pagination nav div div .inline-flex {
    visibility: hidden;
    margin: 10px;
    border-radius: 50px;
    box-shadow: none !important;
} */
/* .pagination nav div div svg {
    width: 20px;
} */

.social-icon {
    display: inline-block;
    margin-right: 5px;
    list-style: none;
    margin-bottom: 10px;
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    color: #ffffff;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.youtube {
    background-color: #cd201f;
}

.instagram {
    background-color: #8d00cf;
}

.payment-button {
    background-color: #ffad2d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.status-label {
    color: green;
    font-weight: bold;
}

/* Custom styles for success message */
.alert-success-custom {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.alert-success-custom {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input[type="tel"]:focus {
    outline: none; /* Remove the default focus outline */
    /* You can also set other styles here, like border or box-shadow */
    border-bottom: 2px solid #23d3d3;
}

.OTP-btn1 {
    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    background-color: #23d3d3;
    color: #ffffff;
    margin-bottom: 0;
    cursor: pointer;
    border: 0;
    /* padding: 10  px; */
}

.OTP-btn1:hover {
    background-color: #00b4b4;
}

.OTP-btn {
    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    background-color: #23d3d3;
    color: #ffffff;
    margin-bottom: 0;
    cursor: pointer;
    border: 0;
    padding: 10px;
}

.OTP-btn:hover {
    background-color: #00b4b4;
}

.bookmark-added {
    color: #ffb429;
    /* Set the desired color for the bookmark icon */
}

@media only screen and (max-width: 767px) {
    .action-btn {
        justify-content: flex-end;
    }
}

/* Reset the alignment for larger screens */
@media (min-width: 768px) {
    .action-btn {
        justify-content: start;
    }
}

.place-item.layout-02 .author img {
    max-width: 100%; /* Ensure the image doesn't exceed the circular container */
    max-height: 100%; /* Ensure the image doesn't exceed the circular container */
    border-radius: 50%; /* Keep the circular shape */
}

/* Override Bootstrap modal backdrop */
body.modal-open .modal-backdrop {
    z-index: 0 !important;
}
/* Style for the custom overlay */
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        0,
        0,
        0,
        0.9
    ); /* You can adjust the background color and opacity */
    z-index: 2000; /* Place it behind other elements */
    display: none; /* Initially hidden */
}

/* Override Bootstrap modal styles to make it visible */
.modal {
    z-index: 1; /* Ensure modal is on top of the custom overlay */
}

body.modal-open .custom-overlay {
    display: block; /* Show the custom overlay when a modal is open */
}

.btn-close-bg {
    background-color: rgba(255, 255, 255, 0.405);
    border-radius: 5px;
}

.overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other content */
}

.place-item.layout-02 .place-thumb .search-category {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #f0626c;
    padding: 3px 10px;
    border-radius: 50px;
    color: white;
}

.upload-area {
    border: 2px dashed #999;
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    height: 200px;
}

.upload-area:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-upload:hover {
    background-color: #f9f9f9;
}

.file-input {
    display: none;
}

.file-label {
    color: #333;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: color 0.3s;
}

.file-label:hover {
    color: #555;
}

.upload-btn {
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.upload-btn:hover {
    transform: translateY(-5px);
}

.upload-btn span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), transparent);
    animation: lighting 1.5s infinite linear;
}

@keyframes lighting {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* padding: 10px; */
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.see-more {
    /* display: grid !important; */
    align-content: center;
    padding: 0 !important;
}

/* CSS for Desktop View */
@media (max-width: 767px) {
    .desktop-view {
        display: none;
    }

    .business-category {
        padding: 10px 0 !important;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        /* padding: 10px; */
    }
    .bsn-cat-item span.place {
        display: none;
    }

    .page-title--small {
        /* margin-bottom: 20 !important; */
        height: 70px !important;
    }

    .page-title--small .page-title__content h1 {
        font-size: 30px !important;
        text-align: center !important;
    }
    .page-title--small .page-title__content p {
        text-align: center !important;
    }

    .site-header {
        padding: 10px 0 !important;
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0 !important;
        z-index: 1020 !important;
    }
}

/* CSS for Mobile View */
@media (min-width: 992px) {
    .mobile-view {
        display: none;
    }
}

.slider-container {
    /* padding-bottom: 60px; */
    margin-top: 25px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

/* mobile navigation */
/* Mobile Bottom Navigation */
.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    /* Give nav its own composite layer */
    will-change: transform;
    transform: translateZ(0);

    display: flex;

    height: 70px;

    /* box-shadow: 0 -2px 5px -2px #23D3D3; */
    background-color: #fff;
    border-top: 1px solid #23d3d3;
}

.mobile-bottom-nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-bottom-nav__item:hover {
    /* background-color: #23d3d3; */
}
.mobile-bottom-nav__item a:active {
    color: #23d3d3;
}

.mobile-bottom-nav__item--active {
    /* Dev */
    color: #23d3d3;
}

.mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.filter-btn {
    position: fixed;
    bottom: 12%;
    z-index: 99;
    left: 5%;
}

.filter-btn-a {
    background-color: rgb(255, 255, 255);
    padding: 0 13px !important;
    font-size: 25px !important;
    width: 60px;
    align-content: center;
    display: grid !important;
    justify-content: center;
    border-radius: 70px !important;
    height: 60px !important;
    color: #23d3d3;
    border: 2px;
}

.login-container {
    position: relative;
}

.login__box {
    border-bottom: 0 !important;
    padding: 0 !important;
    /* position: absolute; */
}

.login-menu {
    position: absolute;
    background-color: white;
    width: 160px;
    padding: 10px !important;
    border-radius: 10px;
    margin-top: 0 !important;
    right: -25%;
    box-shadow: 0 0 10px 0 gray;
    top: 120%;
}

.popup__content {
    max-height: 80vh; /* Set a maximum height for the content */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

/* add place form */

#heading {
    text-transform: uppercase;
    color: #23d3d3;
    font-weight: normal;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: left;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;

    color: #2c3e50;
    background-color: #f9f9f9;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #23d3d3;
    outline-width: 0;
}

#msform .action-button {
    width: 100px;
    background: #23d3d3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #008989;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #23d3d3;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: #23d3d3;
    font-weight: normal;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: left;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #23d3d3;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #23d3d3;
}

.progress {
    height: 20px;
}

.progress .progress-bar {
    background-color: #23d3d3;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

.chosen-container-active .chosen-choices {
    padding: 20px 20px 0 !important;
}

.chosen-container-multi .chosen-choices {
    padding: 15px 15px 0 !important;
    border-radius: 7px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding: 5px 20px !important;
    color: #23d3d3 !important;
    border: 1px solid #23d3d3 !important;
}

.chosen-container -multi .chosen-choices li.search-choice .search-choice-close {
    margin: 0px 5px;
    color: #23d3d3 !important;
}

.chosen-container-multi .chosen-results {
    padding: 10px !important;
}

.chosen-container .chosen-results li {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 7px !important;
    margin: 10px !important;
}

.chosen-container-single .chosen-single {
    height: 30px !important;
    font-size: 18px;
    padding: 3px 0 0 8px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    margin: -2px 4px 0;
}

/* Style the label as a button */
.custom-checkbox {
    display: inline-block;
    background-color: #ddd; /* Normal background color */
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-flex;
    transition: background-color 0.3s ease;
}

/* Hide the checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the checkmark inside the label */
.custom-checkbox .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333; /* Normal border color */
    border-radius: 50%;
    margin-right: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Change the background color and border color when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #23d3d3; /* Selected background color */
    border-color: #23d3d3; /* Selected border color */
}

.avatar .la-angle-down {
    display: none !important;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: inherit !important;
}

/* Set a fixed width and height for the image */
.img-fluids {
    width: 50%; /* Adjust the width as needed for desktop */
    height: auto; /* Automatically adjust the height */
}

/* Use media queries to adjust the image size for mobile */
@media (max-width: 767px) {
    .img-fluids {
        width: 100%; /* Make the image full width on mobile */
        height: auto; /* Automatically adjust the height */
    }
}

.btn-closee {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat !important;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.password-setup input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    padding: 0;
    border-bottom: 2px solid #2d2d2d;
    margin-bottom: 20px;
    font-style: normal;
}

.promo-img {
    object-fit: cover;
    width: 1536px;
    height: 864px;
    object-position: center;
}

#iframe-content {
    width: 795px;
    height: 445px;
}

.collapse {
    visibility: inherit !important;
}

.accordion-button:not(.collapsed) {
    color: #0cd0e4 !important;
    background-color: #e7f9ff !important;
}
.accordion-button:focus {
    border-color: #0cd0e4 !important;
}

#timer {
    text-align: center;
    color: black;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn  #sendOTPButton {
    pointer-events: none;
    opacity: 0.65;
    background-color: #4b4b4b !important;
}
.popup-form .form-container {
    max-width: 400px;
    width: 100%;

}