.form-group-user {
    position: relative;
    /* background-color: rgb(71, 71, 71); */
    width: 90%;
}

.form-group-user .col-group {
    position: relative;
}

.form-account label.radio-field {
    /* position: static; */
    display: block;
}
/* 
.form-account{
    display: block!important;
} */

.form-group-user .label-field {
    font-size: 15px;
    line-height: 20px;
    color: #8d8d8d;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.form-account label.radio-field input:checked ~ span {
    background-color: #23d3d3;
    color: #fff;
}

.form-account label.radio-field span {
    height: 48px;
    line-height: 48px;
    display: block;
    border-radius: 4px;
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
}

.form-account label.radio-field i {
    margin-right: 5px;
}

.form-account label.radio-field input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

/* hide arrow in number field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    /* -moz-appearance: textfield; */
}

/* hero section banner */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);

    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-banner {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.overlay_2 {
    inset: 0;
}

/* logged in menu */

.avatar img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    object-fit: cover;
}

/* header.site-header .right-header .account {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.account {
    position: relative;
}

.account .user-show {
    display: flex;
    align-items: center;
}

header.site-header .right-header .account a:last-child {
    margin-right: 0;
}

header.site-header .right-header .account a {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.account .user-show a.avatar {
    margin-right: 8px;
}

a,
button,
input,
svg {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.account .user-show a.avatar img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    object-fit: cover;
} */

.login-container {
    text-align: center;
    /* Center the content horizontally */
}

.login-message {
    display: block;
    margin-bottom: 10px;
    /* Add some space below the message */
    font-weight: bold;
    /* Make the message bold, adjust as needed */
}

.test {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.test:hover {
    background-color: #0056b3;
}

.pagination nav div div {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 320px;
    /* visibility: hidden; */
}
.pagination nav .flex {
    visibility: hidden;
    margin-bottom: 10px;
    text-align: center;
}
.pagination nav div div .inline-flex {
    /* visibility: hidden; */
    margin: 10px;
    border-radius: 50px;
    box-shadow: none !important;
}
.pagination nav div div svg {
    width: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 5px;
    list-style: none;
    margin-bottom: 10px;
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    color: #ffffff;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.youtube {
    background-color: #cd201f;
}

.instagram {
    background-color: #8d00cf;
}

.payment-button {
    background-color: #ffad2d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.status-label {
    color: green;
    font-weight: bold;
}

/* Custom styles for success message */
.alert-success-custom {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.alert-success-custom {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
